/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


html {
  background-color: ;
  height: 100%;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  padding: 2em;
  font-size: 1.25em;
  height: 100%;
  background-color: lightgrey;
}

.wrapper {
  /*add display:flex and set justify-content to space-between*/
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

.div-1, .div-2, .div-3, .div-4, .div-5, .div-6, .div-7, .div-8, .div-9 {
  /*give the divs a width of 30%, add display:flex, set justify-content and align-items to center*/
  color: #fff;
  line-height: 1.5em;
  font-size: 1.6em;
  background-color: #f16059;
  height: 300px;
  display: flex;
  width: 30%;
  justify-content: center;
  align-items: center;
  border: 2px white solid;
}



